body {
	background-color: rgb(63, 62, 62);
}

button {
	color: rgb(255, 255, 255);
	background-color: rgb(116, 116, 116);
	width: 80%;
	height: 10%;
	border-radius: 20px;
	margin: auto;
	display: table;
}
